$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #EFF4F7;
  color: #647E8C;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  cursor: pointer;
}
.ov-h {
  overflow: hidden;
}
.tt-u {
  text-transform: uppercase;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.row-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}


footer.main {
  margin-top: 50px;
  padding: 20px 0 60px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  opacity: 0.3;
}
