.contact-wrap {
  background: #F4F5FA;
  margin-bottom: 30px;
  /*box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);*/
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  height: 100%;
  color: #647E8C;

  .profile-image {
    min-height: 200px;
    position: relative;
    background: center no-repeat rgba(0,0,0,.1);
    background-size: cover;
    border-radius: 2px 2px 0 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 25%, rgba(0,0,0,0.28) 100%);
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 25%,rgba(0,0,0,0.28) 100%);
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 25%,rgba(0,0,0,0.28) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#47000000',GradientType=0 );
      z-index: 1;
    }

    .edit {
      background: #fff;
      position: absolute;
      z-index: 2;
      bottom: -20px;
      right: 15px;
      width: 40px;
      line-height: 40px;
      border-radius: 100%;
      text-align: center;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      transition: background 0.05s linear;

      &:hover {
        background: #2e80c7;
        color: #fff;
      }
    }

    .delete-nav {
      position: absolute;
      z-index: 3;
      top: 05px;
      right: 05px;
      background: rgba(255,255,255,.5);
      padding: 5px 5px;
      cursor: pointer;
      transition: all .1s linear;

      &:hover {
        background: #fff;
        ul {
          pointer-events: auto;
          opacity: 1;
          top: 100%;
        }
      }

      ul {
        position: absolute;
        top: 50%;
        right: 0;
        background: #fff;
        cursor: default;
        pointer-events: auto;
        opacity: 0;
        transition: all .1s linear;

        li {
          cursor: pointer;
          padding: 10px 15px;
        }
      }
    }
  }

  .content {
    padding: 30px 20px 20px 20px;

    h2 {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 14px;
      margin: 20px 0px 0px 0px;
      font-weight: 300;

      a {
        color: #647E8C;
        display: block;

        &:hover {
          color: #337ab7;
          text-decoration: none;
        }
      }

      label {
        display: block;
        opacity: 0.4;
        font-weight: 300;
        font-size: 12px;
      }
    }
  }
}
