.new-contact {
  max-width: 300px;
  padding: 20px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  .form-control {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }

  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: #ccc;
    margin: auto;
    margin-bottom: 50px;
    background-size: contain;
    background-position: center;
  }

  .btn {
    border-radius: 0;
    border: none;
  }


}
