.contacts-search {
  margin-top: 20px;
  margin-bottom: 30px;

  .input-wrap {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 2px;

    input {
      border: none;
      padding: 10px 20px;
      height: auto;
      font-size: 20px;
      font-weight: 300;
      box-shadow: none;
      background: transparent;
    }
  }
  .submit-wrap {
    padding-left: 20px;

    .btn {
      border-radius: 100px;
      padding:13px 20px;
      font-weight: 300;
    }
  }

  .search-result {
    padding: 10px 0;
  }
}

.contacts {
  margin-top: 20px;
}

.no-contacts {
  padding: 60px 0;
  opacity: 0.6;
  text-align: center;
  width: 100%;
}
